# ========================
# Angular build output
# ========================
dist/
out-tsc/
tmp/
bazel-out/
.angular/cache/

# ========================
# Node
# ========================
node_modules/
npm-debug.log*
yarn-error.log*

# ========================
# Firebase
# ========================
.firebase/
firebase-debug.log
firestore-debug.log

# ========================
# Environment files (IMPORTANT)
# ========================
src/environments/environment*.local.ts

# ========================
# IDEs
# ========================
.vscode/
.idea/
*.sublime-workspace

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Coverage / testing
# ========================
coverage/
testem.log

# ========================
# Angular optional caches
# ========================
/connect.lock
/typings/
__screenshots__/